@value makerSlateblue, makerBlack, makerWhite,makerLightGrey from '../../common/color.css';

.form {
  border: none;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-bottom: 20px;
  border-top: 1px solid makerSlateblue;
  border-left: 1px solid makerSlateblue;
  border-bottom: 1px solid makerSlateblue;
}

.input,
.textarea {
  border: none;
  width: 100%;
  padding: 5px 10px;
  border-right: 1px solid makerSlateblue;
  border-bottom: 1px solid makerSlateblue;
  outline: none;
}
.input,
.select {
  flex: 1 1 30%;
  border: none;
  border-right: 1px solid makerSlateblue;
  border-bottom: 1px solid makerSlateblue;
}

.btn {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
