@value makerBlack, makerWhite from '../../common/color.css';
.container {
  width: 500px;
  height: 400px;
  background-color: makerWhite;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list {
  list-style: none;
  padding-left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  width: 100%;
  display: flex;
  justify-content: center;
}
.item button {
  background-color: makerBlack;
  color: makerWhite;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  width: 100%;
  margin-bottom: 5px;
}
